(
    axes: {
        "change": Emulated(
            pos: Key(Y),
            neg: Key(U),
        ),
    },
    actions: {
        "up": [ [Key(Up)], ],
        "down": [ [Key(Down)], ],
        "validate": [[Key(Space)]],
        "next": [[Key(N)]],
        "rotate_world_left": [ [Key(Comma)], ],
        "rotate_world_right": [ [Key(Period)], ]
    },
)